<div style="margin: 20px 10px 0 20px">
  <h5>Đăng bài mới</h5>
  <mat-divider></mat-divider>
  <div class="row mt-3">
    <div class="col-8">
      <div class="post-address">
        <h6>Địa chỉ cho thuê</h6>
        <div class="mt-4">
          <mat-form-field>
            <mat-select [formControl]="bankCtrl" placeholder="Tỉnh/Thành phố" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                {{bank.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ml-4">
            <mat-select [formControl]="bankCtrl" placeholder="Quận/Huyện" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                {{bank.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ml-4">
            <mat-select [formControl]="bankCtrl" placeholder="Phường/Xã" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                {{bank.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mt-3 w-100">
            <mat-label>Thôn/Xóm</mat-label>
            <input matInput placeholder="Nhập địa chỉ thôn, xóm">
          </mat-form-field>
        </div>
        <div class="mt-3 d-flex">
          <h6>Địa chỉ chính xác</h6>
          <mat-form-field appearance="outline" class="display-block w-75">
            <textarea rows="2" class="font-weight-bold text-dark" matInput placeholder="Thông tin địa chỉ chính xác"
                      disabled>
              Nhà 74, ngõ 127, Phùng Khoang, Nam Từ Liêm, Hà Nội
            </textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-4">
      <agm-map [latitude]="markerInfo.latitude" [longitude]="markerInfo.longitude" [zoom]="13">
        <agm-marker [latitude]="markerInfo.latitude" [longitude]="markerInfo.longitude"
                    [iconUrl]="markerInfo.icon">
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
