<div class="d-flex align-items-center justify-content-between">
  <div><h6>Quản lý gói dịch vụ</h6></div>
  <span>Tổng số gói dịch vụ: {{postVips?.length}}</span>
</div>
<mat-divider></mat-divider>
<div>
  <div class="mt-1">
    <div class="mt-3">
      <div class="search-input">
        <span class="font-size-13">Tìm kiếm: </span>
        <input class="ml-1 form-control font-size-13 w-15"
               (keyup)="searchTag($event.target.value)" placeholder="Nhập từ khóa cần tìm">
      </div>
    </div>

    <div class="mt-1">

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef>Số</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Loại tin</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="d-flex">
              <div class="product-thumb" *ngIf="row?.vipLevel == 1">
                <div class="icon_vip bg-danger">HOT</div>
              </div>
              <div class="product-thumb" *ngIf="row?.vipLevel == 2">
                <div class="icon_vip bg-primary">VIP1</div>
              </div>
              <div class="product-thumb" *ngIf="row?.vipLevel == 3">
                <div class="icon_vip bg-success">VIP2</div>
              </div>
              <div class="product-thumb" *ngIf="row?.vipLevel == 4">
                <div class="icon_vip bg-secondary">VIP3</div>
              </div>
              <p>
                <span class="font-weight-bold">{{row?.name}}</span>
              </p>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dayPrice">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Giá ngày(Đồng)</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.dayPrice}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="weekPrice">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Giá tuần(Đồng)</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.weekPrice}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="monthPrice">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Giá tháng(Đồng)</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.monthPrice}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef class="justify-content-center"> Mô tả</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Tác vụ</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <fa-icon [icon]="faPencilAlt" class="text-info cursor-pointer font-size-12"
                     matTooltip="Sửa" (click)="openUpdatePostVipDialog(row)">
            </fa-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedPostVip"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedPostVip;">
        </mat-row>
      </mat-table>
      <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>

