.mat-table {
  overflow: auto;
  max-height: 433px;
  border: 1px solid #dddddd;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-number {
  flex: 0 0 10%;
}

.mat-column-name {
  flex: 0 0 15%;
}

.mat-column-description {
  flex: 0 0 30%;
}

.mat-column-action {
  justify-content: center;
  flex: 0 0 10%;
}

