<div class="p-1">
  <div class="d-flex justify-content-between">
    <h6>Nạp tiền với Stripe</h6>
    <fa-icon class="text-danger cursor-pointer" [icon]="faTimes" (click)="close()"></fa-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="mt-2">
    <form (submit)="topUp()" [formGroup]="stripeTest">
      <div class="pt-2 col-12">
        <div class="mt-3 mb-3 align-items-center justify-content-between">
                <span class="font-size-13">Số tiền nạp
                    <span class="text-danger">*</span>
                </span>
          <div>
            <input mdbInput type="number" formControlName="balance"
                   class="form-control font-size-13" placeholder="Số tiền nạp"
                   [ngClass]="{ 'is-invalid': submitted && validator.balance?.errors}">
            <div *ngIf="submitted && validator.balance?.errors" class="invalid-feedback">
              <div *ngIf="validator.balance.errors?.required">
                Số tiền không được trống
              </div>
              <div *ngIf="validator.balance.errors?.pattern">
                Số tiền chỉ có các kí từ 0 -> 9
              </div>
            </div>
          </div>
        </div>
        <div class="align-items-center justify-content-between">
                <span class="font-size-13">Nhập lại số tiền nạp
                <span class="text-danger">*</span>
                </span>
          <div>
            <input mdbInput type="number" formControlName="balanceConfirm"
                   class="form-control font-size-13" placeholder="Nhập lại số tiền nạp"
                   [ngClass]="{ 'is-invalid': submitted && validator.balanceConfirm?.errors}">
            <div *ngIf="submitted && validator.balanceConfirm?.errors" class="invalid-feedback">
              <div *ngIf="validator.balanceConfirm.errors?.required">
                Số tiền không được trống
              </div>
              <div *ngIf="validator.balanceConfirm.errors?.pattern">
                Số tiền chỉ có các kí từ 0 -> 9
              </div>
              <div *ngIf="validator.balanceConfirm.errors?.mustMatch">
                Số tiền thêm nhập không khớp
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <p class="font-size-13">Nhập thông tin thẻ <span class="text-danger">*</span></p>
          <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
        </div>
      </div>
      <div class="mt-3 float-right">
        <button mat-button class="text-white button-save line-height-25" type="submit">Nạp tiền</button>
      </div>
    </form>
  </div>
</div>
