<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="./assets/images/home1.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h3-responsive">Tiện ích tìm trọ</h1>
      <h3>
        <span class="text-color-feb800" [class.font-weight-bold]="true">TROTOT</span>
        hỗ trợ khách hàng tìm được nhà trọ theo ý muốn
      </h3>
      <h5>ĐÚNG NHÀ, ĐÚNG GIÁ, ĐÚNG THỜI ĐIỂM</h5>
      <div style="display: flex; justify-content: center">
        <button mat-stroked-button class="bg-light">
          <a href="#href-tim-kiem-nhanh" style="text-decoration: none" class="text-dark">Tìm kiếm nhanh</a>
        </button>
        <button mat-stroked-button class="ml-2 bg-color-feb800">
          <a href="" style="text-decoration: none" class="text-white">Liên hệ ngay</a>
        </button>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>


