<mat-card class="card-login">
  <mat-card-title class="title">Đăng nhập</mat-card-title>
  <div class="row pt-4 pl-3 pr-3">
    <div class="col-5 pl-0">
      <form class="text-center" [formGroup]="loginForm" (submit)="login()">
        <div class="mb-4">
          <input type="text" class="form-control mb-1" placeholder="Tên đăng nhập" formControlName="inputUsername"
                 style="font-size: 13px;" [ngClass]="{ 'is-invalid': submitted && validator.inputUsername?.errors}">
          <div *ngIf="submitted && validator.inputUsername?.errors?.required" class="invalid-feedback">
            Username không để trống
          </div>
        </div>
        <div class="mb-2">
          <input type="password" class="form-control" placeholder="Mật khẩu" formControlName="inputPassword"
                 style="font-size: 13px;" [ngClass]="{ 'is-invalid': submitted && validator.inputPassword?.errors}">
          <div *ngIf="submitted && validator.inputPassword?.errors?.required" class="invalid-feedback">
            Password không để trống
          </div>
        </div>
        <div style="text-align: end">
          <a href="" style="font-size: 13px">Quên tài khoản?</a>
        </div>
        <button mdbBtn block="true" class="btn-login my-4" type="submit">Đăng nhập</button>
        <p style="font-size: 13px">Chưa có tài khoản?<a routerLink="/register" class="ml-2">Đăng ký</a></p>
      </form>
    </div>
    <div class="col-2">
      <div class="middle-login">
        <div class="middle-login-text">
          <span>Hoặc</span>
        </div>
      </div>
    </div>
    <div class="col-5 div-login-service">
      <div class="row">
        <a title="Đăng nhập với google" class="login-link-service" (click)="oauthGoogle()">
          <img src="./assets/images/google.jpg" class="login-icon-service ml-2">
          <span class="login-title-service">Đăng nhập với google</span>
        </a>
      </div>
      <div class="row">
        <a title="Đăng nhập với facebook" class="login-link-service mt-4" (click)="oauthFacebook()"
           style="background-color: #3b5998; color: #ffffff">
          <img src="./assets/images/facebook.png" class="login-icon-service ml-2">
          <span class="login-title-service">Đăng nhập với facebook</span>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center mt-5"><a routerlink="" href="" style="font-size: 13px">Quay lại trang chủ</a></div>
</mat-card>
