<div style="margin: 10px 10px 0 10px">
  <div class="d-flex align-items-center justify-content-between">
    <div><p>Quản lý bình luận ({{comments?.length}})</p></div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <div class="mt-1">
      <div class="example-header">
        <mat-form-field class="w-20">
          <mat-label>Tìm kiếm</mat-label>
          <input matInput class="font-size-13"
                 (keyup)="searchTag($event.target.value)" placeholder="Nhập từ khóa cần tìm">
        </mat-form-field>
      </div>

      <div class="example-container">

        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef>Số</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="content">
            <mat-header-cell *matHeaderCellDef> Nội dung</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.content}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="user">
            <mat-header-cell *matHeaderCellDef> Tác giả</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <img class="box-shadow" width="25" style="border-radius: 50%;"
                   [src]="row?.user?.imageUrl ? row?.user?.imageUrl : DEFAULT_IMAGE_USER" referrerpolicy="no-referrer"/>
              <span class="ml-2">{{row?.user?.name}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="createTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Thời gian</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.createTime | date:'dd-MM-yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Tác vụ</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <fa-icon class="text-danger cursor-pointer ml-2 font-size-12" (click)="deleteComment(row)"
                       [icon]="faTrashAlt" matTooltip="Xóa"></fa-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedComment"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedComment;">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
