<mat-card class="card-login">
  <div class="middle-login">
    <div class="middle-login-text">
      <span><img width="60" src="./assets/images/logo3.png"/></span>
    </div>
  </div>
  <mat-card-title class="title">Nhập mã xác thực từ mail</mat-card-title>
  <div class="row pl-3 pr-3">
    <div class="col-12 pl-0 pr-0">
      <form [formGroup]="emailVerifyForm" (submit)="verifyEmail()">
        <div class="mb-3">
          <label class="font-size-13 mb-0">
            Email<span class="text-danger ml-1">*</span>
          </label>
          <input type="text" class="form-control mb-1 font-size-13" placeholder="Email"
                 formControlName="email" disabled
                 [ngClass]="{ 'is-invalid': submitted && validator.email?.errors}">
          <div *ngIf="submitted && validator.email?.errors"
               class="invalid-feedback text-align-start">
            <div *ngIf="validator.email?.errors?.required">
              Email không để trống
            </div>
            <div *ngIf="validator.email?.errors?.email">
              Không đúng định dạng email
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label class="font-size-13 mb-0">
            Mã xác thực<span class="text-danger ml-1">*</span>
          </label>
          <input type="text" class="form-control font-size-13" placeholder="Nhập mã xác thực"
                 formControlName="code"
                 [ngClass]="{ 'is-invalid': submitted && validator.code?.errors}">
          <div *ngIf="submitted && validator.code?.errors?.required"
               class="invalid-feedback text-align-start">
            Mã xác định không để trống
          </div>
        </div>
        <button mdbBtn block="true" class="btn-login my-4 pt-2 pb-2 text-transform-normal" type="submit">Xác thực</button>
        <span class="font-size-13 color-disable">Ghi chú: Lấy mã xác thực trong email bạn đã đăng ký để xác thực</span>
      </form>
    </div>
  </div>
  <div class="text-center mt-2 d-flex flex-column">
    <a routerlink="" href="" class="font-size-13 text-dark">
      <fa-icon [icon]="faArrowCircleLeft"></fa-icon>
      <span class="ml-2">Quay lại trang chủ</span>
    </a>
  </div>

</mat-card>
