.card-login {
  width: 600px;
  height: 370px;
  margin: 7% auto 5% auto;
  background: #fff none repeat scroll 0 0;
  border: 2px solid #f2f2f2;
  border-radius: 0 !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
  padding: 20px!important;
}

.card-login .title{
  font-size: 20px!important;
  font-weight: bold;
  text-align: center;
  color: #feb800;
}

.div-login-service{
  background-color: #fff;
  border: 1px solid #f2f2f2;
  color: #666;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 2px 2px -2px #dedede;
  height: 45px;
  position: relative;
  width: 100%;
  font-size: 14px;
}

.login-link-service{
  width:100%;
}

.login-icon-service{
  left: 10px;
  position: absolute;
  vertical-align: middle;
  width: 20px;
}

.login-title-service{
  margin: auto;
  vertical-align: middle;
}

.btn-login{
  background-color: #48509a;
  color: white;
}

.div-login-service a{
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 2px 2px -2px #dedede;
  color: #666;
  display: flex;
  height: 45px;
  position: relative;
  width: 100%;
  font-size: 14px;
}

