<div class="container mt-4">
  <h6 class="mt-2 mb-3">Thông tin người đăng và bài đăng liên quan</h6>
  <mat-divider></mat-divider>
  <div class="row mt-3">
    <div class="col-3">
      <div class="profile-user">
        <div class="profile-info">
          <div class="d-flex profile-image">
            <img width="50" src="./assets/images/avatar.png" class="cursor-pointer"
                 style="border-radius: 30px"/>
            <div class="profile-name">
              <b>{{user?.name}}</b>
            </div>
          </div>
        </div>
      </div>
      <span class="mt-2 mb-2">Tham gia: {{user?.createTime | date:'hh:mm a dd-MM-yyyy'}}</span>
      <div>
        <div class="mt-2 mb-2">
          <fa-icon [icon]="faPhone"></fa-icon>
          <span class="ml-2">{{user?.phoneNumber}}</span>
        </div>
        <div class="mt-2 mb-2">
          <fa-icon [icon]="faComments"></fa-icon>
          <span class="ml-2">{{user?.email}}</span>
        </div>
      </div>
    </div>
    <div class="col-9" style="box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);">
      <div class="mt-2 mr-2">
        <span>Bài đã đăng ({{posts?.length}})</span>
        <mat-divider class="mt-2 mb-2"></mat-divider>
        <div style=" height: 400px;width: 100%;overflow-y: scroll;">
          <div *ngFor="let post of posts" class="d-flex mt-3 mb-3">
            <div>
              <img width="100"
                   [src]="post?.images[0]?.imageUrl ?
               (PREFIX_URL + '/' + post?.id + '/' +  post?.images[0]?.imageUrl ) : (DEFAULT_IMAGE)">
            </div>
            <div class="d-flex w-100 justify-content-between">
              <div class="p-2" style="display: flex;flex-direction: column;justify-content: space-between;">
                <div><span class="font-weight-bolder">{{post?.title}}</span></div>
                <div>
                  <span>Giá: {{post?.price | currency : "VND"}}</span>
                  <span class="ml-3">Diện tích: {{post?.acreage}} m2</span>
                </div>
              </div>
              <div class="p-2 mr-3">
                <fa-icon [icon]="faEllipsisV" class="ml-2 text-info cursor-pointer"
                         matTooltip="Chi tiết" matTooltipPosition="below" (click)="viewPost(post?.id)">
                </fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

