<div class="row m-2 mt-3">
  <div class="col-2">
    <div>
      <h6 class="font-weight-bold">
        Quản lý chức năng
      </h6>
    </div>
    <div class="mt-4">
      <a href="" class="side-bar-left-item">
        <div>
          <fa-icon [icon]="faEdit"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Cập nhật thông tin</span>
        </div>
      </a>
    </div>
    <div class="mt-2">
      <a href="" class="side-bar-left-item">
        <div>
          <fa-icon [icon]="faHeart"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Bài viết quan tâm</span>
        </div>
      </a>
    </div>
    <div class="mt-2">
      <a href="" class="side-bar-left-item">
        <div>
          <fa-icon [icon]="faComments"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Bình luận</span>
        </div>
      </a>
    </div>
    <div class="mt-2">
      <a href="" class="side-bar-left-item">
        <div>
          <fa-icon [icon]="faList"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Quản lý bài đăng</span>
        </div>
      </a>
    </div>
    <div class="mt-2">
      <a href="" class="side-bar-left-item">
        <div>
          <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Nạp tiền</span>
        </div>
      </a>
    </div>
    <div class="mt-2">
      <a href="" class="side-bar-left-item">
        <div>
          <fa-icon [icon]="faHistory"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Lịch sử nạp tiền</span>
        </div>
      </a>
    </div>
    <div class="mt-2">
      <a href="" class="side-bar-left-item">
        <div>
          <fa-icon [icon]="faHistory"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Lịch sử thanh toán</span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-10 bg-secondary">
    <router-outlet></router-outlet>
  </div>
</div>
