<div class="row m-2 mt-3">
  <div class="col-12 col-md-2 left-side">
    <div class="mt-4">
      <div class="profile-user">
        <div class="profile-image">
          <img width="50" class="box-shadow" referrerpolicy="no-referrer"
               [src]="user?.imageUrl" style="border-radius: 30px"/>
        </div>
        <div class="profile-more">
          <div>
            <div class="profile-name justify-content-between">
              <b>{{user?.name}}</b>
            </div>
            <div>
              <p class="font-weight-bold font-size-13">
                Tài khoản: {{user?.wallet?.balance | number}} đ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="side-bar-left-item" [routerLink]="['/manage/user']">
        <div>
          <fa-icon [icon]="faEdit"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Thông tin cá nhân</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/manage/post/list']">
        <div>
          <fa-icon [icon]="faList"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Danh sách bài viết</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/manage/comment']">
        <div>
          <fa-icon [icon]="faComments"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Danh sách bình luận</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/manage/favorite']">
        <div>
          <fa-icon [icon]="faHeart"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Danh sách quan tâm</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/manage/top-up']">
        <div>
          <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Nạp tiền</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/manage/payment']">
        <div>
          <fa-icon [icon]="faHistory"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Lịch sử đăng bài</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-10 pr-0" style="margin-left: auto!important; min-height: 500px; padding-left: 0!important;">
    <router-outlet></router-outlet>
  </div>
</div>
