<div style="margin: 10px 10px 0 10px">
  <div class="d-flex align-items-center justify-content-between">
    <div><h6>Quản lý bình luận</h6></div>
    <div><span>Tổng số bình luận: {{comments?.length}}</span></div>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="comments?.length != 0;else null_table">
    <div class="mt-3 ml-1">
      <mat-table matSort
                 [dataSource]="dataSource">

        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef> STT</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index;">
            {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="content">
          <mat-header-cell *matHeaderCellDef> Nội dung</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row?.content}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Thời gian</mat-header-cell>
          <mat-cell *matCellDef="let row" matTooltipPosition="right">
            {{row?.createTime | date : "dd-MM-yyyy"}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="post">
          <mat-header-cell *matHeaderCellDef> Bài viết</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row?.post?.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>Tác vụ</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <fa-icon class="text-danger cursor-pointer" [icon]="faTrashAlt" matTooltip="Xóa"
                     (click)="deleteComment(row?.id)"></fa-icon>
            <fa-icon [icon]="faEllipsisV" class="ml-2 text-info cursor-pointer"
                     matTooltip="Chi tiết" matTooltipPosition="below" (click)="viewPost(row?.post?.id)">
            </fa-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedComment" class="text-center"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedComment;"></mat-row>
      </mat-table>
      <mat-paginator #paginatorRef [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <ng-template #null_table>
    <div class="mt-3">
      <span class="text-danger">Chưa có bình luận</span>
    </div>
  </ng-template>
</div>
