<div class="toolbar" role="banner">
  <div class="container div-header-client">
    <div>
      <a title="Nhà trọ tốt" href="">
        <img width="70" src="./assets/images/logo3.png"/>
      </a>
    </div>
    <div class="example-button-row div-header-info">
      <mat-toolbar style="font-weight: 400" class="pr-0">
        <a href="" class="mat-toolbar-title active"><span>Trang chủ</span></a>
        <a href="" class="mat-toolbar-title ml-3"><span>Cho thuê</span></a>
        <a href="" class="mat-toolbar-title ml-3"><span>Nạp tiền</span></a>
        <a href="" class="mat-toolbar-title ml-3"><span>Bảng giá</span></a>
        <div ngbDropdown container="body" class="cursor-pointer">
          <span ngbDropdownToggle class="ml-4 text-color-feb800">Đăng nhập | Đăng ký</span>
          <div ngbDropdownMenu class="mt-2">
            <button ngbDropdownItem class="font-size-14" [routerLink]="['/login']">
              <fa-icon [icon]="faSignInAlt"></fa-icon>
              <span class="ml-4">Đăng nhập</span>
            </button>
            <button ngbDropdownItem [routerLink]="['/register']" class="font-size-14">
              <fa-icon [icon]="faUserPlus"></fa-icon>
              <span class="ml-4">Đăng ký</span>
            </button>
          </div>
        </div>
        <div ngbDropdown container="body" class="cursor-pointer">
          <img ngbDropdownToggle class="ml-3 box-shadow" [matTooltip]="currentUser?.name ? currentUser.name : nameBaseUser"
               matTooltipPosition="below"
               width="30" [src]="currentUser?.imageUrl ? currentUser.imageUrl : userBaseUrl"
               style="border-radius: 10px;">
          <div ngbDropdownMenu class="mt-2" style="font-size: 13px">
            <button ngbDropdownItem [routerLink]="['/manage/user']">
              <fa-icon class="mr-2" [icon]="faUserCircle"></fa-icon>
              Cập nhật thông tin
            </button>
            <button ngbDropdownItem [routerLink]="['/manage/post']">
              <fa-icon class="mr-2" [icon]="faListUl"></fa-icon>
              Quản lý bài đăng
            </button>
            <button ngbDropdownItem>
              <fa-icon class="mr-2" [icon]="faComments"></fa-icon>
              Quản lý bình luận
            </button>
            <button ngbDropdownItem>
              <fa-icon class="mr-2" [icon]="faMoneyCheckAlt"></fa-icon>
              Nạp tiền
            </button>
            <button ngbDropdownItem (click)="logout()">
              <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
              Đăng xuất
            </button>
          </div>
        </div>
<!--        <div class="ml-2">-->
<!--          <button mat-icon-button color="warn" matTooltip="Quan tâm"-->
<!--                  matTooltipPosition="below" class="btn-favorite mr-0">-->
<!--            <fa-icon [icon]="faHeart" style="font-size: 26px"></fa-icon>-->
<!--            <span class="number-favorite text-dark">5</span>-->
<!--          </button>-->
<!--        </div>-->
      </mat-toolbar>
      <button mat-stroked-button class="pr-4 box-shadow" [routerLink]="['/manage/post/create']"
              matTooltip="Bấm để đăng tin" matTooltipPosition="below"
              style="color:initial; border-color: darkorange; line-height: 30px;">
        <fa-icon [icon]="faUpload"></fa-icon>
        <span class="ml-2">Đăng tin</span>
      </button>
    </div>
  </div>
</div>

