.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: white;
  font-weight: 600;
  z-index: 1000;
  border-bottom: 1px solid #feb800;
}

.div-icon {
  display: flex;
  color: #000000;
  text-decoration: none;
}

.div-icon-width {
  min-width: 25px;
}

.div-icon:hover {
  background-color: rgba(249, 178, 0, 0.39);
  cursor: pointer;
}

.div-header-client {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div-header-info {
  text-align: end;
}

.spacer {
  flex: 1;
}

.example-button-row {
  display: flex;
}

.example-button-row .mat-button-base {
  margin: 18px 8px 18px 0;
}

.mat-toolbar {
  font-size: 14px;
  padding-top: 10px;
  background-color: #ffffff;
}

.mat-toolbar-title {
  color: #000;
}

.mat-toolbar-title:hover {
  color: #feb800;
  text-decoration: none;
}

.btn-favorite {

}

.btn-favorite {
  outline: none;
  box-shadow: none;
}

.number-favorite {
  position: absolute;
  line-height: 10px;
  font-weight: bold;
  font-size: 11px;
  top: 9px;
  right: 7px;
  padding: 5px 10px;
  border-radius: 50%;
  color: #ffffff;
}

.btn-create-post {
  color: initial;
  line-height: 29px;
  min-width: auto;
  margin-left: 10px !important;
  padding: 0 10px;
}

.btn-create-post:hover {
  color: #ffffff;
  background-color: #feb800;
}

