<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="./assets/images/home1.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h3-responsive">Tiện ích tìm trọ</h1>
      <h3>
        <span class="text-color-feb800" [class.font-weight-bold]="true">TROTOT</span>
        hỗ trợ khách hàng tìm được nhà trọ theo ý muốn
      </h3>
      <h5>ĐÚNG NHÀ, ĐÚNG GIÁ, ĐÚNG THỜI ĐIỂM</h5>
      <div style="display: flex; justify-content: center">
        <button mat-stroked-button class="ml-2 bg-color-feb800">
          <a href="#href-tim-kiem-nhanh" class="text-white"
             style="text-decoration: none; font-weight: 500 !important;">
            Tìm kiếm ngay
          </a>
        </button>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<div class="container" id="href-tim-kiem-nhanh">
  <mat-card class="card-body-content-client">
    <mat-card-title class="title text-center font-weight-bold mb-5">Tìm nhà cho thuê</mat-card-title>
    <div class="d-flex">
      <div>
        <mat-form-field appearance="outline" class="mat-form-field-select">
          <mat-label>Tỉnh/Thành phố</mat-label>
          <mat-select #provinceSelect [formControl]="provinceCtrl" placeholder="Tỉnh/Thành phố">
            <mat-option>
              <ngx-mat-select-search [formControl]="provinceFilterCtrl"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let province of filteredProvinces | async" [value]="province">
              {{province?.name ? province.name : ''}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-2 mat-form-field-select">
          <mat-label>Quận/Huyện</mat-label>
          <mat-select #districtSelect [formControl]="districtCtrl" placeholder="Quận/Huyện">
            <mat-option>
              <ngx-mat-select-search [formControl]="districtFilterCtrl"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let district of filteredDistricts | async" [value]="district">
              {{(district?.prefix ? district.prefix : '') + ' ' + (district?.name ? district.name : '')}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-2 mat-form-field-select">
          <mat-label>Phường/Xã</mat-label>
          <mat-select #wardSelect [formControl]="wardCtrl" placeholder="Phường/Xã">
            <mat-option>
              <ngx-mat-select-search [formControl]="wardFilterCtrl"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let ward of filteredWards | async" [value]="ward">
              {{(ward?.prefix ? ward.prefix : '') + ' ' + (ward?.name ? ward.name : '')}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-2 mat-form-field-select">
          <mat-label>Khoảng giá</mat-label>
          <mat-select [formControl]="priceSearchCtrl">
            <mat-option *ngFor="let price of priceRange" [value]="price">{{price.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-2 mat-form-field-select">
          <mat-label>Diện tích</mat-label>
          <mat-select [formControl]="acreageSearchCtrl">
            <mat-option *ngFor="let acreage of acreageRange" [value]="acreage">{{acreage.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-2 mat-form-field-select">
          <mat-label>Loại phòng</mat-label>
          <mat-select [formControl]="categorySearchCtrl">
            <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-stroked-button matTooltip="Tìm kiếm" style="height: 50px;margin-top: 4px;"
                (click)="btnSearchClick()"
                class="text-white bg-color-feb800 ml-2">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
    </div>
  </mat-card>
  <div class="row">
    <div class="col-12 mt-3">
      <div class="row" *ngIf="payments?.length >0; else null_result">
        <div class="col-sm-6 col-lg-3 mt-3"
             *ngFor="let payment of payments | paginate: { itemsPerPage: 6, currentPage: currentPage}">
          <div class="card" style="height: 325px">
            <div class="product-thumb">
              <a [routerLink]="['post', payment?.post?.id]">
                <img
                  [src]="payment?.post?.images[0]?.imageUrl ? (IMAGE_URL + '/' + payment?.post?.id + '/' +  payment?.post?.images[0]?.imageUrl ) : (DEFAULT_IMAGE)">
              </a>
              <div>
                <div *ngIf="(payment?.status == true) && (payment?.postVip?.vipLevel == 1)">
                  <div class="icon_vip bg-danger">HOT</div>
                </div>
                <div *ngIf="(payment?.status == true) && (payment?.postVip?.vipLevel == 2)">
                  <div class="icon_vip bg-primary">VIP1</div>
                </div>
                <div *ngIf="(payment?.status == true) && (payment?.postVip?.vipLevel == 3)">
                  <div class="icon_vip bg-success">VIP2</div>
                </div>
                <div *ngIf="(payment?.status == true) && (payment?.postVip?.vipLevel == 4)">
                  <div class="icon_vip bg-secondary">VIP3</div>
                </div>
              </div>
              <span class="product-media pl-1 pr-1" matTooltip="Ảnh" matTooltipPosition="left">
                {{payment?.post?.images?.length}}
                <fa-icon [icon]="faImage"></fa-icon>
              </span>
            </div>
            <div class="home-product-bound">
              <div class="product-title">
                <a [routerLink]="['post', payment?.post?.id]" class="font-weight-bold text-decoration-none">
                  {{payment?.post?.title}}
                </a>
              </div>
              <div class="product-price mt-1 mb-1">
                <fa-icon [icon]="faDollarSign" class="mr-1 text-color-feb800" matTooltip="Giá"></fa-icon>
                {{payment?.post?.price | number}} triệu/tháng
              </div>
              <span class="divide-dot">·</span>
              <div class="product-m2 mt-1 mb-1">{{payment?.post?.acreage}} m2</div>
              <div class="product-address mt-1 mb-1">
                <fa-icon [icon]="faMapMarkerAlt" class="mr-1 text-danger"></fa-icon>
                <span>
                  {{payment?.post?.address}}, {{payment?.post?.ward?.prefix}} {{payment?.post?.ward?.name}}
                  , {{payment?.post?.district?.prefix}} {{payment?.post?.district?.name}}
                  , {{payment?.post?.province?.name}}
                </span>
              </div>
              <div class="product-date mt-1 mb-1">
                <fa-icon [icon]="faCalendarMinus" class="mr-1"></fa-icon>
                <span [matTooltip]="payment?.startDate | date: 'hh:mm a dd-MM-yyyy'" matTooltipPosition="right">
                   {{timespan(payment?.startDate)}}
                </span>
              </div>
              <button mat-icon-button class="product-favorite"
                      *ngIf="postIdFavorites.includes(payment?.post?.id);else remove_favorite"
                      (click)="createFavorite(payment?.post?.id)">
                <fa-icon class="text-danger" [icon]="faHeartSolid"
                         matTooltip="Bỏ quan tâm" matTooltipPosition="left">
                </fa-icon>
              </button>
              <ng-template #remove_favorite>
                <button mat-icon-button class="product-favorite"
                        (click)="createFavorite(payment?.post?.id)">
                  <fa-icon class="text-dark" [icon]="faHeartRegular"
                           matTooltip="Thêm quan tâm" matTooltipPosition="left">
                  </fa-icon>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 text-center">
        <pagination-controls (pageChange)="currentPage = $event"
                             maxSize="10" directionLinks="true" autoHide="true"
                             responsive="true" previousLabel="Quay lại" nextLabel="Tiếp theo">
        </pagination-controls>
      </div>
      <ng-template #null_result>
        <p class="text-danger">Không có bài viết cần tìm</p>
        <button mat-button class="text-white button-save line-height-25" (click)="btnShowAllPosts()">
          Xem danh sách hiện có
        </button>
      </ng-template>
    </div>
  </div>
</div>
