<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="./assets/images/home1.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h3-responsive">Tiện ích tìm trọ</h1>
      <h3>
        <span class="text-color-feb800" [class.font-weight-bold]="true">TROTOT</span>
        hỗ trợ khách hàng tìm được nhà trọ theo ý muốn
      </h3>
      <h5>ĐÚNG NHÀ, ĐÚNG GIÁ, ĐÚNG THỜI ĐIỂM</h5>
      <div style="display: flex; justify-content: center">
        <button mat-stroked-button class="bg-light">
          <a href="#href-tim-kiem-nhanh" style="text-decoration: none" class="text-dark">Tìm kiếm nhanh</a>
        </button>
        <button mat-stroked-button class="ml-2 bg-color-feb800">
          <a href="" style="text-decoration: none" class="text-white">Liên hệ ngay</a>
        </button>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<div class="container" id="href-tim-kiem-nhanh">
  <mat-card class="card-body-content-client">
    <mat-card-title class="title text-center font-weight-bold mb-5">Tìm nhà cho thuê</mat-card-title>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="search-form-key">
          <div class="text-center">
            <p style="font-weight: 700">Tìm kiếm nhanh theo từ khóa</p>
          </div>
<!--          <div [formGroup]="searchForm">-->
            <form class="form-search" [formGroup]="searchForm">
              <mat-form-field appearance="none" class="mat-form-field-search">
                <input matInput type="text" placeholder="Nhập địa điểm, khu vực bạn quan tâm"
                       [matAutocomplete]="auto" formControlName="searchInp">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <button mat-stroked-button matTooltip="Tìm kiếm" class="text-white bg-color-feb800 ml-4">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
            </form>
            <p style="font-weight: 700" class="pt-4">Tìm kiếm nhiều:
              <a href="" class="ml-2">Hà Đông</a>
              <a href="" class="ml-2">Thanh Xuân</a>
            </p>
<!--          </div>-->
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="text-center">
          <p style="font-weight: 700">Tìm kiếm theo các tiêu chí</p>
        </div>
        <div class="text-center">
          <mat-form-field appearance="outline" class="ml-3">
            <mat-label>Loại</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="ml-3">
            <mat-label>Tỉnh thành</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="ml-3">
            <mat-label>Quận huyện</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="ml-3">
            <mat-label>Đường phố</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="ml-3">
            <mat-label>Khoảng giá</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="ml-3">
            <mat-label>Diện tích</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="text-center">
          <button mat-stroked-button matTooltip="Tìm kiếm" class="text-white bg-color-feb800 ml-4">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
  <div class="row pt-3">
    <div class="col-12">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
    <div class="col-12">
      <p class="title text-start font-weight-bold">Phòng trọ sạch đẹp > Giá hợp lý > Đầy đủ tiện nghi</p>
    </div>
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-sm-6 col-lg-4 mt-2">
          <div class="card">
            <div class="product-thumb">
              <a [routerLink]="['post', first]">
                <img src="https://file4.batdongsan.com.vn/crop/257x147/2019/12/11/20191211153323-83eb_wm.jpg">
              </a>
              <span class="product-media" matTooltip="Số lượng ảnh" matTooltipPosition="left">
                12
                <fa-icon [icon]="faImage"></fa-icon>
              </span>
            </div>
            <div class="home-product-bound">
              <div class="product-title">
                <a href="" class="font-weight-bold text-decoration-none">Nhà 4 tầng mới xây 20 phòng tại ngõ 123 Trung
                  Kính cho thuê khép kín, giá 1,5tr và 1,6tr</a>
              </div>
              <div class="product-price">
                <fa-icon [icon]="faDollarSign" class="mr-1 text-color-feb800" matTooltip="Giá"></fa-icon>
                2.5 triệu/tháng
              </div>
              <span class="divide-dot">·</span>
              <div class="product-m2">20 m2</div>
              <div class="product-address">
                <fa-icon [icon]="faMapMarkerAlt" class="mr-1 text-danger" matTooltip="Địa chỉ"></fa-icon>
                <a href="" title="Cầu Giấy">Cầu Giấy</a>,
                <a href="" title="Hà Nội">Hà Nội</a>
              </div>
              <div class="product-date">
                <fa-icon [icon]="faCalendarMinus" class="mr-1" matTooltip="Ngày đăng"></fa-icon>
                3 ngày trước
                <span class="tooltip-time">30/10/2020</span>
              </div>
              <button mat-icon-button class="product-favorite" matTooltip="Bấm để lưu tin" matTooltipPosition="left">
                <fa-icon [icon]="faHeart"></fa-icon>
              </button>
            </div>
          </div>
          <div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-2">
          <div class="card">
            <div class="product-thumb">
              <a>
                <img src="https://file4.batdongsan.com.vn/crop/257x147/2019/12/11/20191211153323-83eb_wm.jpg">
              </a>
              <span class="product-media" matTooltip="Số lượng ảnh" matTooltipPosition="left">
                12
                <fa-icon [icon]="faImage"></fa-icon>
              </span>
            </div>
            <div class="home-product-bound">
              <div class="product-title">
                <a href="" class="font-weight-bold text-decoration-none">Nhà 4 tầng mới xây 20 phòng tại ngõ 123 Trung
                  Kính cho thuê khép kín, giá 1,5tr và 1,6tr</a>
              </div>
              <div class="product-price">2.5 triệu/tháng</div>
              <span class="divide-dot">·</span>
              <div class="product-m2">20 m2</div>
              <div class="product-address">
                <a href="" title="Cầu Giấy">Cầu Giấy</a>,
                <a href="" title="Hà Nội">Hà Nội</a>
              </div>
              <div class="product-date">
                3 ngày trước
                <span class="tooltip-time">30/10/2020</span>
              </div>
              <button mat-icon-button class="product-favorite" matTooltip="Bấm để lưu tin" matTooltipPosition="left">
                <fa-icon [icon]="faHeart"></fa-icon>
              </button>
            </div>
          </div>
          <div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-2">
          <div class="card">
            <div class="product-thumb">
              <a href="">
                <img src="https://file4.batdongsan.com.vn/crop/257x147/2019/12/11/20191211153323-83eb_wm.jpg">
              </a>
              <span class="product-media" matTooltip="Số lượng ảnh" matTooltipPosition="left">
                12
                <fa-icon [icon]="faImage"></fa-icon>
              </span>
            </div>
            <div class="home-product-bound">
              <div class="product-title">
                <a href="" class="font-weight-bold text-decoration-none">Nhà 4 tầng mới xây 20 phòng tại ngõ 123 Trung
                  Kính cho thuê khép kín, giá 1,5tr và 1,6tr</a>
              </div>
              <div class="product-price">2.5 triệu/tháng</div>
              <span class="divide-dot">·</span>
              <div class="product-m2">20 m2</div>
              <div class="product-address">
                <a href="" title="Cầu Giấy">Cầu Giấy</a>,
                <a href="" title="Hà Nội">Hà Nội</a>
              </div>
              <div class="product-date">
                3 ngày trước
                <span class="tooltip-time">30/10/2020</span>
              </div>
              <button mat-icon-button class="product-favorite" matTooltip="Bấm để lưu tin" matTooltipPosition="left">
                <fa-icon [icon]="faHeart"></fa-icon>
              </button>
            </div>
          </div>
          <div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-2">
          <div class="card">
            <div class="product-thumb">
              <a href="">
                <img src="https://file4.batdongsan.com.vn/crop/257x147/2019/12/11/20191211153323-83eb_wm.jpg">
              </a>
              <span class="product-media" matTooltip="Số lượng ảnh" matTooltipPosition="left">
                12
                <fa-icon [icon]="faImage"></fa-icon>
              </span>
            </div>
            <div class="home-product-bound">
              <div class="product-title">
                <a href="" class="font-weight-bold text-decoration-none">Nhà 4 tầng mới xây 20 phòng tại ngõ 123 Trung
                  Kính cho thuê khép kín, giá 1,5tr và 1,6tr</a>
              </div>
              <div class="product-price">2.5 triệu/tháng</div>
              <span class="divide-dot">·</span>
              <div class="product-m2">20 m2</div>
              <div class="product-address">
                <a href="" title="Cầu Giấy">Cầu Giấy</a>,
                <a href="" title="Hà Nội">Hà Nội</a>
              </div>
              <div class="product-date">
                3 ngày trước
                <span class="tooltip-time">30/10/2020</span>
              </div>
              <button mat-icon-button class="product-favorite" matTooltip="Bấm để lưu tin" matTooltipPosition="left">
                <fa-icon [icon]="faHeart"></fa-icon>
              </button>
            </div>
          </div>
          <div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-2">
          <div class="card">
            <div class="product-thumb">
              <a href="">
                <img src="https://file4.batdongsan.com.vn/crop/257x147/2019/12/11/20191211153323-83eb_wm.jpg">
              </a>
              <span class="product-media" matTooltip="Số lượng ảnh" matTooltipPosition="left">
                12
                <fa-icon [icon]="faImage"></fa-icon>
              </span>
            </div>
            <div class="home-product-bound">
              <div class="product-title">
                <a href="" class="font-weight-bold text-decoration-none">Nhà 4 tầng mới xây 20 phòng tại ngõ 123 Trung
                  Kính cho thuê khép kín, giá 1,5tr và 1,6tr</a>
              </div>
              <div class="product-price">2.5 triệu/tháng</div>
              <span class="divide-dot">·</span>
              <div class="product-m2">20 m2</div>
              <div class="product-address">
                <a href="" title="Cầu Giấy">Cầu Giấy</a>,
                <a href="" title="Hà Nội">Hà Nội</a>
              </div>
              <div class="product-date">
                3 ngày trước
                <span class="tooltip-time">30/10/2020</span>
              </div>
              <button mat-icon-button class="product-favorite" matTooltip="Bấm để lưu tin" matTooltipPosition="left">
                <fa-icon [icon]="faHeart"></fa-icon>
              </button>
            </div>
          </div>
          <div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mt-2">
          <div class="card">
            <div class="product-thumb">
              <a href="">
                <img src="https://file4.batdongsan.com.vn/crop/257x147/2019/12/11/20191211153323-83eb_wm.jpg">
              </a>
              <span class="product-media" matTooltip="Số lượng ảnh" matTooltipPosition="left">
                12
                <fa-icon [icon]="faImage"></fa-icon>
              </span>
            </div>
            <div class="home-product-bound">
              <div class="product-title">
                <a href="" class="font-weight-bold text-decoration-none">Nhà 4 tầng mới xây 20 phòng tại ngõ 123 Trung
                  Kính cho thuê khép kín, giá 1,5tr và 1,6tr</a>
              </div>
              <div class="product-price">2.5 triệu/tháng</div>
              <span class="divide-dot">·</span>
              <div class="product-m2">20 m2</div>
              <div class="product-address">
                <a href="" title="Cầu Giấy">Cầu Giấy</a>,
                <a href="" title="Hà Nội">Hà Nội</a>
              </div>
              <div class="product-date">
                3 ngày trước
                <span class="tooltip-time">30/10/2020</span>
              </div>
              <button mat-icon-button class="product-favorite" matTooltip="Bấm để lưu tin" matTooltipPosition="left">
                <fa-icon [icon]="faHeart"></fa-icon>
              </button>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 mt-2">
      <div class="card">
        <div>
          <p class="title text-center font-size-14 font-weight-bold mb-0 mt-2">Danh mục cho thuê</p>
        </div>
        <mat-list class="category-list">
          <mat-list-item class="font-size-14">
            <a href="">Cho thuê phòng trọ</a>
          </mat-list-item>
          <mat-list-item class="font-size-14">
            <a href="">Cho thuê phòng trọ tại Hà Nội</a>
          </mat-list-item>
          <mat-list-item class="font-size-14">
            <a href="">Cho thuê nhà nguyên căn</a>
          </mat-list-item>
          <mat-list-item class="font-size-14">
            <a href="">Cho thuê căn hộ</a>
          </mat-list-item>
          <mat-list-item class="font-size-14">
            <a href="">Cho thuê mặt bằng</a>
          </mat-list-item>
          <mat-list-item class="font-size-14">
            <a href="">Tìm người ở ghép</a>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="card mt-3">
        <div class="text-center">
          <p class="title text-start font-weight-bold">Tin mới đăng</p>
        </div>
      </div>
    </div>
  </div>
</div>
