<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="./assets/images/home1.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h1 class="h3-responsive">Tiện ích tìm trọ</h1>
      <h3>
        <span class="text-color-feb800" [class.font-weight-bold]="true">TROTOT</span>
        hỗ trợ khách hàng tìm được nhà trọ theo ý muốn
      </h3>
      <h5>ĐÚNG NHÀ, ĐÚNG GIÁ, ĐÚNG THỜI ĐIỂM</h5>
      <div style="display: flex; justify-content: center">
        <button mat-stroked-button class="ml-2 bg-color-feb800">
          <a href="#href-tim-kiem-nhanh" class="text-white"
             style="text-decoration: none; font-weight: 500 !important;">
            Tìm kiếm ngay
          </a>
        </button>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<div class="container" id="href-tim-kiem-nhanh">
  <mat-card class="card-body-content-client">
    <mat-card-title class="title text-center font-weight-bold mb-5">Tìm nhà cho thuê</mat-card-title>
    <div class="row d-flex">
      <div class="text-center">
        <!--          <mat-form-field appearance="outline" class="ml-3">-->
        <!--            <mat-label>Loại</mat-label>-->
        <!--            <mat-select>-->
        <!--              <mat-option>-->
        <!--              </mat-option>-->
        <!--            </mat-select>-->
        <!--          </mat-form-field>-->
        <mat-form-field appearance="outline">
          <mat-label>Tỉnh thành</mat-label>
          <mat-select>
            <mat-option>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-2">
          <mat-label>Quận huyện</mat-label>
          <mat-select>
            <mat-option>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-2">
          <mat-label>Đường phố</mat-label>
          <mat-select>
            <mat-option>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-2">
          <mat-label>Khoảng giá</mat-label>
          <mat-select>
            <mat-option>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-2">
          <mat-label>Diện tích</mat-label>
          <mat-select>
            <mat-option>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-stroked-button matTooltip="Tìm kiếm" style="height: 50px;margin-top: 4px;"
              class="text-white bg-color-feb800 ml-2">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
  </mat-card>
  <div class="row pt-3">
    <div class="col-12">
      <!--      <agm-map [fullscreenControl]="true" [latitude]="markerInfo.latitude" [longitude]="markerInfo.longitude"-->
      <!--               [zoom]="13">-->
      <!--        <agm-marker [latitude]="markerInfo.latitude"-->
      <!--                    [longitude]="markerInfo.longitude"-->
      <!--                    [iconUrl]="markerInfo.icon">-->
      <!--        </agm-marker>-->
      <!--      </agm-map>-->
    </div>
    <div class="col-12 mt-3">
      <p class="title text-start font-weight-bold">Phòng trọ sạch đẹp > Giá hợp lý > Đầy đủ tiện nghi</p>
    </div>
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-sm-6 col-lg-4 mt-2" *ngFor="let post of posts">
          <div class="card">
            <div class="product-thumb">
              <a [routerLink]="['post', post?.id]">
                <img
                  [src]="post.images[0]?.imageUrl ?
                  (PREFIX_URL + '/' + post?.id + '/' +  post?.images[0]?.imageUrl ) : (DEFAULT_IMAGE)">
              </a>
              <span class="product-media text-info" matTooltip="Số lượng ảnh" matTooltipPosition="left">
                <fa-icon [icon]="faImage"></fa-icon>
                {{post?.images?.length}}
              </span>
            </div>
            <div class="home-product-bound">
              <div class="product-title">
                <a [routerLink]="['post', post?.id]" class="font-weight-bold text-decoration-none">
                  {{post?.title}}
                </a>
              </div>
              <div class="product-price mt-1 mb-1">
                <fa-icon [icon]="faDollarSign" class="mr-1 text-color-feb800" matTooltip="Giá"></fa-icon>
                {{post?.price | number}} triệu/tháng
              </div>
              <span class="divide-dot">·</span>
              <div class="product-m2 mt-1 mb-1">{{post?.acreage}} m2</div>
              <div class="product-address mt-1 mb-1">
                <fa-icon [icon]="faMapMarkerAlt" class="mr-1 text-danger"></fa-icon>
                <span>
                  {{post?.address}}, {{post?.ward?.prefix}} {{post?.ward?.name}}
                  {{post?.district?.prefix}} {{post?.district?.name}}, {{post?.province?.name}}
                </span>
              </div>
              <div class="product-date mt-1 mb-1">
                <fa-icon [icon]="faCalendarMinus" class="mr-1"></fa-icon>
                <span [matTooltip]="post?.createTime | date: 'hh:mm a dd-MM-yyyy'" matTooltipPosition="right">
                   {{timespan(post?.createTime)}}
                </span>
              </div>
              <button mat-icon-button class="product-favorite"
                      *ngIf="postIdFavorites.includes(post?.id);else remove_favorite"
                      (click)="createFavorite(post?.id)">
                <fa-icon class="text-danger" [icon]="faHeartSolid"
                         matTooltip="Bỏ quan tâm" matTooltipPosition="left">
                </fa-icon>
              </button>
              <ng-template #remove_favorite>
                <button mat-icon-button class="product-favorite"
                        (click)="createFavorite(post?.id)">
                  <fa-icon class="text-dark" [icon]="faHeartRegular"
                           matTooltip="Thêm quan tâm" matTooltipPosition="left">
                  </fa-icon>
                </button>
              </ng-template>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 mt-2">
      <div class="card">
        <div>
          <p class="title text-center font-size-14 font-weight-bold mb-0 mt-2">Danh mục cho thuê</p>
        </div>
        <mat-list class="category-list">
          <mat-list-item class="font-size-14">
            <a href="">Cho thuê phòng trọ</a>
          </mat-list-item>
          <mat-list-item class="font-size-14">
            <a href="">Cho thuê phòng trọ tại Hà Nội</a>
          </mat-list-item>
          <mat-list-item class="font-size-14">
            <a href="">Cho thuê nhà nguyên căn</a>
          </mat-list-item>
          <mat-list-item class="font-size-14">
            <a href="">Cho thuê căn hộ</a>
          </mat-list-item>
          <mat-list-item class="font-size-14">
            <a href="">Cho thuê mặt bằng</a>
          </mat-list-item>
          <mat-list-item class="font-size-14">
            <a href="">Tìm người ở ghép</a>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="card mt-3">
        <div class="text-center">
          <p class="title text-start font-weight-bold">Tin mới đăng</p>
        </div>
      </div>
    </div>
  </div>
</div>
