<mat-card class="card-register">
  <mat-card-title class="title">Đăng ký</mat-card-title>
  <mat-divider></mat-divider>
  <div class="row pt-4">
    <div class="col-6 pl-0">
      <form class="text-center">
        <input type="email" class="form-control mb-4" placeholder="E-mail" style="font-size: 13px;">
        <input type="password" class="form-control mb-4" placeholder="Mật khẩu từ 6-32 ký tự" style="font-size: 13px;">
        <input type="text" class="form-control mb-4" placeholder="Họ tên" style="font-size: 13px;">
        <input type="text" class="form-control mb-4" placeholder="Số điện thoại" style="font-size: 13px;">
        <button mdbBtn block="true" class="btn-register my-4" type="submit">Đăng ký</button>
        <p style="font-size: 13px">Đã có tài khoản?<a routerLink="/login" class="ml-2">Đăng nhập</a></p>
      </form>
    </div>
    <div class="col-2">
      <p>Hoặc</p>
    </div>
    <div class="col-4 div-register-service">
      <div class="row">
        <a title="Đăng nhập với google" href="" class="register-link-service">
          <img src="./assets/images/google.jpg" class="register-icon-service">
          <span class="register-title-service">Đăng nhập với google</span>
        </a>
      </div>
      <div class="row">
        <a title="Đăng nhập với facebook" href="" class="register-link-service mt-4"
           style="background-color: #3b5998; color: #ffffff">
          <img src="./assets/images/facebook.png" class="register-icon-service">
          <span class="register-title-service">Đăng nhập với facebook</span>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center mt-4"><a routerlink="" href="" style="font-size: 13px">Quay lại trang chủ</a></div>
</mat-card>
