<mat-divider class="bg-color-feb800 mt-5"></mat-divider>
<footer class="container page-footer font-small blue pt-4 pb-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-12 col-md-6 mt-md-0 mt-3" style="display: flex">
        <img width="100" src="./assets/images/logo3.png">
        <p class="pl-5">TROTOT là website đăng tin cho thuê hàng đầu, cho phép người cho thuê dễ dàng đăng tin cho thuê
          nhà,
          nhà trọ, phòng trọ, căn hộ chung cư. Người thuê nhà có thể tìm kiếm nhà trọ, nhà cho thuê,... dễ dàng tiện
          lợi.<br>
          TROTOT có trách nhiệm chuyển tải thông tin. Chúng tôi không chịu bất kỳ trách nhiệm nào từ các tin
          này.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-12 col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-color-feb800">Liên hệ</h5>
        <ul class="list-unstyled">
          <li style="display: flex">
            <fa-icon [icon]="faMapMarker"></fa-icon>
            <p class="ml-2">KM Nguyễn Trãi, Hầ Đông, Hà Nội</p>
          </li>
          <li style="display: flex">
            <fa-icon [icon]="faPhone"></fa-icon>
            <p class="ml-2">0352 464 242</p>
          </li>
          <li style="display: flex">
            <fa-icon [icon]="faInbox"></fa-icon>
            <p class="ml-2">trongdungk53@gmail.com</p>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase text-color-feb800">Liên kết</h5>
        <ul class="list-unstyled">
          <li style="display: flex">
            <fa-icon [icon]="faMapMarker"></fa-icon>
            <p class="ml-2">KM Nguyễn Trãi, Hầ Đông, Hà Nội</p>
          </li>
          <li style="display: flex">
            <fa-icon [icon]="faPhone"></fa-icon>
            <p class="ml-2">0352 464 242</p>
          </li>
          <li style="display: flex">
            <fa-icon [icon]="faInbox"></fa-icon>
            <p class="ml-2">trongdungk53@gmail.com</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright py-3">
    © 2020 Copyright
    <p class="text-color-feb800">Nhà Trọ Tốt</p>
  </div>
</footer>
