.mat-table {
  overflow: auto;
  max-height: 433px;
  border: 1px solid #dddddd;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-number {
  flex: 0 0 10%;
}

.mat-column-name {
  flex: 0 0 40%;
}

.mat-column-description {
  flex: 0 0 40%;
}

.mat-column-action {
  flex: 0 0 10%;
}

