<div class="row m-2 mt-3">
  <div class="col-2 left-side">
    <div class="mt-3">
      <div class="profile-user">
        <div class="profile-info">
          <div>
            <h6 style="text-transform: uppercase">Quản trị hệ thống</h6>
          </div>
          <div class="middle-login">
            <div class="middle-login-text">
              <span><img width="80" src="./assets/images/logo3.png"/></span>
            </div>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
    <!--    <div class="mt-4">-->
    <!--      <div class="side-bar-left-item" [routerLink]="['/admin']">-->
    <!--        <div>-->
    <!--          <fa-icon [icon]="faHouseUser"></fa-icon>-->
    <!--        </div>-->
    <!--        <div class="ml-3">-->
    <!--          <span>Trang chủ</span>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/admin/user']">
        <div class="side-bar-left-item-icon">
          <fa-icon [icon]="faEdit"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Quản lý người dùng</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/admin/post']">
        <div class="side-bar-left-item-icon">
          <fa-icon [icon]="faList"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Quản lý bài viết</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/admin/comment']">
        <div class="side-bar-left-item-icon">
          <fa-icon [icon]="faComments"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Quản lý bình luận</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/admin/category']">
        <div class="side-bar-left-item-icon">
          <fa-icon [icon]="faListUl"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Quản lý chuyên mục</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/admin/tag']">
        <div class="side-bar-left-item-icon">
          <fa-icon [icon]="faBuilding"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Quản lý tiện ích</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/admin/post-vip']">
        <div class="side-bar-left-item-icon">
          <fa-icon [icon]="faListAlt"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Gói dịch vụ</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/admin/wallet']">
        <div class="side-bar-left-item-icon">
          <fa-icon [icon]="faDollarSign"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Quản lý ví</span>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div class="side-bar-left-item" [routerLink]="['/admin/payment']">
        <div class="side-bar-left-item-icon">
          <fa-icon [icon]="faHistory"></fa-icon>
        </div>
        <div class="ml-3">
          <span>Bài viết đã đăng</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 pr-0" style="margin-left: auto!important; min-height: 500px;">
    <router-outlet></router-outlet>
  </div>
</div>
