::-webkit-scrollbar {
  width: 4px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #feb800;
}

html{
  scroll-behavior: smooth;
}

.container {
  padding: 0 !important;
}

.active {
  color: #feb800 !important;
}

.text-color-feb800 {
  color: #feb800 !important;
}

.bg-color-feb800 {
  background-color: #feb800 !important;
}

.border-color-feb800{
  border: 1px solid #feb800 !important;
}

.font-size-14{
  font-size: 14px!important;
}
