<div style="margin: 20px 10px 0 20px">
  <h5>Cập nhật thông tin tài khoản</h5>
  <mat-divider></mat-divider>
  <div class="row mt-5">
    <div class="col-3 text-center">
      <div>
        <img class="box-shadow" [src]="user?.imageUrl ? user.imageUrl : DEFAULT_IMAGE"
             style="border-radius: 50%; max-width: 100px;"/>
      </div>
      <button type="file" class="btn mt-3 p-0"
              matTooltip="Thay ảnh" matTooltipPosition="below">
        <fa-icon [icon]="faUpload" class="text-primary"></fa-icon>
      </button>
    </div>
    <div class="col-9">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Tên | Tên Tài khoản">
          <p style="margin-top:70px !important;">
            Tên người dùng: <span class="font-weight-bold">{{user?.name}}</span>
          </p>
          <p class="mt-3">
            Tên tài khoản: <span class="font-weight-bold">{{user?.username}}</span>
          </p>
          <p class="mt-3">
            Ngày tham gia:
            <span class="font-weight-bold">{{user?.createTime | date:'dd-MM-yyyy hh:mm a'}}</span>
          </p>
        </mat-tab>
        <mat-tab label="Đổi mật khẩu">
          <p style="margin-top:70px !important;">
            Tên người dùng: <span class="font-weight-bold">{{user?.name}}</span>
          </p>
          <p class="mt-3">
            Tên tài khoản: <span class="font-weight-bold">{{user?.username}}</span>
          </p>
        </mat-tab>
        <mat-tab label="Thông tin liên hệ">
          <p style="margin-top:70px !important;">
            Tên người dùng: <span class="font-weight-bold">{{user?.name}}</span>
          </p>
          <p class="mt-3">
            Tên tài khoản: <span class="font-weight-bold">{{user?.username}}</span>
          </p>
          <p class="mt-3">
            Ngày tham gia:
            <span class="font-weight-bold">{{user?.createTime | date:'dd-MM-yyyy hh:mm a'}}</span>
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
