input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 3px 5px;
  cursor: pointer;
}

.btn-update-user {
  color: initial;
  line-height: 29px;
  border: 1px solid #dddddd;
}

.btn-update-user:hover {
  color: #ffffff;
  background-color: #feb800;
}
