<div style="margin: 10px 10px 0 20px">
  <h5>Cập nhật thông tin tài khoản</h5>
  <mat-divider></mat-divider>
  <div class="row mt-4">
    <div class="col-3 text-center">
      <div>
        <img class="box-shadow" [src]="user?.imageUrl ? user.imageUrl : DEFAULT_IMAGE"
             style="border-radius: 50%; max-width: 100px;"/>
      </div>
      <div class="mt-2">
        <label for="file-upload" class="custom-file-upload" matTooltip="Bấm chọn ảnh" matTooltipPosition="right">
          <fa-icon [icon]="faCloudUploadAlt"></fa-icon>
        </label>
        <input id="file-upload" type="file" (change)="onSelectFile($event)" accept="image/*"/>
        <div *ngIf="url != null; else null_image"
             style="border: 2px dotted #dddddd;text-align: center">
          <div>
            <img [src]="url" height="100" class="m-2">
            <button mat-icon-button matTooltip="Gỡ ảnh" matTooltipPosition="below" (click)="removeImages()">
              <fa-icon class="text-danger" [icon]="faTrash"></fa-icon>
            </button>
          </div>
          <button mat-button class="mb-2 text-white font-weight-bold button-save" (click)="saveUserImage()">Lưu</button>
        </div>
        <ng-template #null_image>
          <div style="border: 2px dotted #dddddd; text-align: center">
            <span>Chọn ảnh để cập nhật</span>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="col-9 box-shadow">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Tên | Tên Tài khoản">
          <p style="margin-top:40px !important;">
            Tên người dùng: <span class="font-weight-bold">{{user?.name}}</span>
          </p>
          <p class="mt-3">
            Tên tài khoản: <span class="font-weight-bold">{{user?.username}}</span>
          </p>
          <p class="mt-3">
            Email: <span class="font-weight-bold">{{user?.email}}</span>
          </p>
          <p class="mt-3">
            Số điện thoại: <span class="font-weight-bold">{{user?.phoneNumber}}</span>
          </p>
          <p class="mt-3">
            Ngày tham gia:
            <span class="font-weight-bold">{{user?.createTime | date:'dd-MM-yyyy hh:mm a'}}</span>
          </p>
        </mat-tab>
        <mat-tab label="Đổi mật khẩu">
          <div style="margin-top:40px !important;">
            <form [formGroup]="passwordForm" (submit)="changePassword()">
              <div class="d-flex mt-3 mb-3 align-items-center justify-content-between">
                <span>Mật khẩu mới
                    (<span class="text-danger">*</span>)
                </span>
                <div style="width: 78%">
                  <input mdbInput type="password" formControlName="inputNewPass"
                         class="form-control" placeholder="Mật khẩu mới"
                         [ngClass]="{ 'is-invalid': submitted && validator.inputNewPass?.errors}">
                  <div *ngIf="submitted && validator.inputNewPass?.errors?.required" class="invalid-feedback">
                    Mật khẩu mới không được trống
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <span>Nhập lại mật khẩu mới
                 (<span class="text-danger">*</span>)
                </span>
                <div style="width: 78%">
                  <input mdbInput type="password" formControlName="inputNewPassConfirm"
                         class="form-control" placeholder="Nhập lại mật khẩu mới"
                         [ngClass]="{ 'is-invalid': submitted && validator.inputNewPassConfirm?.errors}">
                  <div *ngIf="submitted && validator.inputNewPassConfirm?.errors" class="invalid-feedback">
                    <div *ngIf="validator.inputNewPassConfirm.errors?.required">
                      Mật khẩu xác nhận không được trống
                    </div>
                    <div *ngIf="validator.inputNewPassConfirm?.errors?.mustMatch">
                      Mật khẩu xác nhận không khớp
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-4 mb-4 float-right">
                <button mat-button class="text-white button-save" type="submit">Cập nhật</button>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
