<div style="margin: 10px 10px 0 10px">
  <div class="d-flex align-items-center mb-2 justify-content-between">
    <div><h6 class="mb-1">Quản lý bài viết</h6></div>
    <div><span>Tổng số bài viết: {{posts?.length}}</span></div>
  </div>
  <mat-divider></mat-divider>
  <div class="mt-1">
    <div class="mt-3">
      <div class="search-input">
        <span class="font-size-13">Tìm kiếm: </span>
        <input class="ml-1 form-control font-size-13 w-15"
               (keyup)="searchTag($event.target.value)" placeholder="Nhập từ khóa cần tìm">
      </div>
    </div>
    <div class="mt-1">
      <mat-table *ngIf="posts?.length != 0;else null_table" matSort
                 [dataSource]="dataSource" class="box-shadow text-center w-100">

        <ng-container matColumnDef="number">
          <mat-header-cell class="pl-0" *matHeaderCellDef> STT</mat-header-cell>
          <mat-cell class="pl-0" *matCellDef="let post; let i = index"> {{i + 1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef> Ảnh đại diện</mat-header-cell>
          <mat-cell *matCellDef="let post">
            <img width="80" class="pt-2 pb-2"
                 [src]="post?.images[0]?.imageUrl ?
               (PREFIX_URL + '/' + post?.id + '/' +  post?.images[0]?.imageUrl ) : (DEFAULT_IMAGE)">
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Tiêu đề</mat-header-cell>
          <mat-cell *matCellDef="let post">{{post?.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Giá(Đồng)</mat-header-cell>
          <mat-cell *matCellDef="let post"> {{post?.price | number}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo</mat-header-cell>
          <mat-cell *matCellDef="let post"> {{post?.createTime | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ngày bắt đầu</mat-header-cell>
          <mat-cell *matCellDef="let post">
            <div *ngIf="(post?.status == true);else start_time" class="ml-2">
              <div *ngFor="let payment of post.payments">
                <div *ngIf="(payment?.status ==true)">
                  <span>{{payment.startDate | date:'dd-MM-yyyy'}}</span>
                </div>
              </div>
            </div>
            <ng-template #start_time>
              <div class="ml-2">
                <span>-</span>
              </div>
            </ng-template>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ngày kết thúc</mat-header-cell>
          <mat-cell *matCellDef="let post">
            <div *ngIf="(post?.status == true);else end_time" class="ml-2">
              <div *ngFor="let payment of post.payments">
                <div *ngIf="(payment?.status == true)">
                  <span>{{payment.endDate | date:'dd-MM-yyyy'}}</span>
                </div>
              </div>
            </div>
            <ng-template #end_time>
              <div class="ml-2">
                <span>-</span>
              </div>
            </ng-template>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comment">
          <mat-header-cell *matHeaderCellDef> Bình luận</mat-header-cell>
          <mat-cell *matCellDef="let post">
            {{post?.comments?.length != 0 ? post?.comments?.length : 0 }}
            <fa-icon [icon]="faComments" class="ml-1 text-info"></fa-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="favorite">
          <mat-header-cell *matHeaderCellDef>Quan tâm</mat-header-cell>
          <mat-cell *matCellDef="let post">
            {{post?.favorites?.length != 0 ? post?.favorites?.length : 0}}
            <fa-icon [icon]="faHeart" class="ml-1 text-danger"></fa-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Trạng thái</mat-header-cell>
          <mat-cell *matCellDef="let post">
            <div *ngIf="(post?.status == true);else post_block" class="ml-2">
              <fa-icon [icon]="faLockOpen" class="text-success font-size-12" matTooltip="Đang đăng"></fa-icon>
            </div>
            <ng-template #post_block>
              <div class="ml-2">
                <fa-icon [icon]="faLock" class="text-danger font-size-12" matTooltip="Chưa đăng"></fa-icon>
              </div>
            </ng-template>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>Tác vụ</mat-header-cell>
          <mat-cell *matCellDef="let post">
            <fa-icon [icon]="faLongArrowAltUp" class="text-color-feb800 cursor-pointer font-size-12"
                     matTooltip="Đăng" matTooltipPosition="below" (click)="pushPost(post)">
            </fa-icon>
            <fa-icon [icon]="faPencilAlt" class="ml-2 text-primary cursor-pointer font-size-12"
                     matTooltip="Sửa" matTooltipPosition="below" (click)="editPost(post?.id)">
            </fa-icon>
            <fa-icon [icon]="faTrash" class="ml-2 text-danger cursor-pointer font-size-12"
                     matTooltip="Xóa" matTooltipPosition="below" (click)="deletePost(post?.id)">
            </fa-icon>
            <fa-icon [icon]="faEllipsisV" class="ml-2 text-info cursor-pointer font-size-12"
                     matTooltip="Chi tiết" matTooltipPosition="below" (click)="viewPost(post?.id)">
            </fa-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="text-center"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <ng-template #null_table>
      <span class="text-danger">Chưa có bài đăng</span>
    </ng-template>
  </div>
</div>
