<div class="toolbar" role="banner">
  <div class="container div-header-client">
    <div>
      <a title="Nhà trọ tốt" href="">
        <img width="100" src="./assets/images/logo3.png"/>
      </a>
    </div>
    <div class="example-button-row div-header-info">
      <mat-toolbar>
        <a href="" class="mat-toolbar-title active"><span>Trang chủ</span></a>
        <a href="" class="mat-toolbar-title ml-3"><span>Cho thuê</span></a>
        <a href="" class="mat-toolbar-title ml-3"><span>Nạp tiền</span></a>
        <a href="" class="mat-toolbar-title ml-3"><span>Bảng giá</span></a>
        <mat-form-field appearance="none" class="ml-4 text-color-feb800 text-center" style="height: 95%">
          <mat-label>Đăng nhập | Đăng ký</mat-label>
          <mat-select>
            <mat-option class="font-size-14" [routerLink]="['/login']">
              <fa-icon [icon]="faSignInAlt"></fa-icon>
              <span class="ml-4">Đăng nhập</span>
            </mat-option>
            <mat-option [routerLink]="['/register']" class="font-size-14">
              <fa-icon [icon]="faUserPlus"></fa-icon>
              <span class="ml-4">Đăng ký</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <fa-icon [icon]="faUserCircle" class="ml-3" matTooltip="Tài khoản" matTooltipPosition="below"></fa-icon>
        <fa-icon [icon]="faHeart" class="ml-3" matTooltip="Quan tâm" matTooltipPosition="below"></fa-icon>
      </mat-toolbar>
      <button mat-stroked-button class="bg-color-feb800 pr-4" matTooltip="Bấm để đăng tin" matTooltipPosition="below">
        <fa-icon [icon]="faUpload"></fa-icon>
        <span class="ml-2">Đăng tin</span>
      </button>
    </div>
  </div>
</div>

