<div class="toolbar" role="banner">
  <div class="container div-header-client">
    <div>
      <a title="Nhà trọ tốt" href="">
        <img width="100" src="./assets/images/logo3.png"/>
      </a>
    </div>
    <div class="example-button-row div-header-info">
      <div>
        <mat-toolbar>
          <a href="" class="mat-toolbar-title"><span>Trang chủ</span></a>
          <a href="" class="mat-toolbar-title ml-3"><span>Cho thuê</span></a>
          <a href="" class="mat-toolbar-title ml-3"><span>Hướng dẫn</span></a>
          <a href="" class="mat-toolbar-title ml-3"><span>Nạp tiền</span></a>
          <a href="" class="mat-toolbar-title ml-3"><span>Bảng giá dịch vụ</span></a>
        </mat-toolbar>
      </div>
      <button mat-stroked-button class="text-dark" [routerLink]="['/login']">Đăng nhập</button>
      <button mat-stroked-button class="bg-color-feb800" [routerLink]="['/register']">Đăng ký</button>
    </div>
  </div>
</div>

