<div class="container mt-4">
  <div>
    <p>Địa chỉ: Nhà 74, ngõ 159 Phùng Khoang, Nam Từ Liêm, Hà Nội</p>
  </div>
  <div class="row">
    <div class="col-12 col-lg-9">
      <div>
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <div class="view w-100 post-image">
              <img class="d-block w-100"
                   src="https://cdn.chotot.com/xGc2LxcFP6F4IQe77Eta4hYRvpsyt3ISjfAArPL6swE/preset:view/plain/4f7d051ba268c73641e31ec3bda39740-2691556976759253326.jpg"
                   alt="First slide">
              <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Light mask</h3>
              <p>First text</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100 post-image">
              <img class="d-block w-100"
                   src="https://cdn.chotot.com/80olbAqyfRX4EIF4i5HVh65zw2rxpmfFUazZK3n9vfU/preset:view/plain/313c2bcdc45117bf4b846abcea02215e-2691556977278562969.jpg"
                   alt="Second slide">
              <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Strong mask</h3>
              <p>Secondary text</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100 post-image">
              <img class="d-block w-100"
                   src="https://cdn.chotot.com/-UPEtlcpepF1TDlQpxEEyCz43CYX5WPYDuZVnaP5oYc/preset:view/plain/6c0cd9d59a92c4296974199ed2e5f74e-2691556977408769639.jpg"
                   alt="Third slide">
              <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Slight mask</h3>
              <p>Third text</p>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div>

      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="profile-user">
        <a class="profile-info" href="">
          <div class="profile-image">
            <img width="50" src="./assets/images/avatar.png" style="border-radius: 30px"/>
          </div>
          <div class="profile-more">
            <div>
              <div class="profile-name">
                <b>Trọng Dũng</b>
              </div>
              <div>
                <span class="font-weight-bold text-color-feb800">0352464242</span>
                <button class="ml-4 btn-more bg-white">
                  <span>Xem thêm</span>
                </button>
              </div>
            </div>
          </div>
        </a>
        <div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
