<div class="container mt-4">
  <div class="row mt-2 mb-2">
    <div class="col-12" style="display: flex;">
      <div class="ml-4 post-menu" (click)="scrollToElement(anh)">
        <span class="post-menu-text">
          <fa-icon class="ml-1 mr-1" [icon]="faImages"></fa-icon>
          Hình ảnh
        </span>
      </div>
      <div class="ml-4 post-menu" (click)="scrollToElement(thongTinChiTiet)">
        <span class="post-menu-text">
             <fa-icon class="ml-1 mr-1" [icon]="faAlignRight"></fa-icon>
          Thông tin chi tiết</span>
      </div>
      <div class="ml-4 post-menu" (click)="scrollToElement(banDo)">
        <span class="post-menu-text">
           <fa-icon class="ml-1 mr-1" [icon]="faMapMarkedAlt"></fa-icon>
          Xem bản đồ</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-9">
      <div #anh>
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item *ngFor="let image of images">
            <div class="product-thumb">
              <img [src]="image?.imageUrl ? (PREFIX_URL +  image.imageUrl ) : (PREFIX_URL + DEFAULT_IMAGE)">
              <div class="mask rgba-black-light waves-black" mdbWavesEffect></div>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>

      <div #thongTinChiTiet class="post-title" style="margin: 30px 0 30px 0">
        <h5>
          <fa-icon class="mr-2 text-info" [icon]="faHandPointRight"></fa-icon>
          {{post?.title ? post?.title : ''}}
        </h5>
        <h6 class="text-grey">
          <fa-icon class="mr-2 text-danger" [icon]="faMapMarkerAlt"></fa-icon>
          {{post?.address ? post.address : ''}}
        </h6>
      </div>

      <div class="row pt-4 pb-4 post-header-content">
        <div class="col-4">
          <h6 class="text-grey">Mức giá: </h6>
          <h6 class="font-weight-bold">
            {{post?.price ? post.price : ''}} triệu/tháng
          </h6>
        </div>
        <div class="col-4">
          <h6 class="text-grey">Diện tích: </h6>
          <h6 class="font-weight-bold">
            {{post?.acreage ? post.acreage : ''}} m2
          </h6>
        </div>
        <div class="col-4" style="display: flex; justify-content: space-around; align-items: center">
          <div>
            <button class="btn-action">
              <span class="p-1 pb-0">Chia sẻ</span>
              <fa-icon class="ml-1 text-primary" [icon]="faShare"></fa-icon>
            </button>
          </div>
          <div>
            <button class="btn-action">
              <span class="p-1 pb-0">Lưu tin</span>
              <fa-icon class="ml-1 text-danger" [icon]="faHeart"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-12">
            <div>
              <h6 class="font-weight-bold"> Thông tin mô tả</h6>
              <div [innerHTML]="post?.content ? post.content: ''">

<!--                <p>- Cho thuê căn hộ mini MỚI XÂY 100% - rộng rãi thoáng mát, sạch sẽ, an ninh, giờ giấc tự do, có bếp-->
<!--                  nấu-->
<!--                  ăn riêng trong phòng, và đã trang bị ĐẦY ĐỦ TIỆN NGHI, bạn chỉ cần xách vali vào ở.</p>-->
<!--                <p>- Tòa nhà tọa lạc tại KDC mát mẻ, văn minh lịch sự, thật sự là một nơi an cư lý tướng tưởng cho bạn-->
<!--                  sau-->
<!--                  những ngày lao động mệt mỏi.</p>-->
<!--                <p>- Địa chỉ: ĐƯỜNG HOÀNG HOA THÁM, PHƯỜNG 13, TÂN BÌNH.</p>-->
<!--                <p>*** Nội thất phòng gồm có:</p>-->
<!--                <p>- Gác xếp thiết kế cao rộng, hiện đại</p>-->
<!--                <p>- WC cao cấp, rộng rãi.</p>-->
<!--                <p>- Giường + nệm êm ái.</p>-->
<!--                <p>- Tủ quần áo.</p>-->
<!--                <p>- Bàn + ghế làm việc.</p>-->
<!--                <p>- Máy lạnh.</p>-->
<!--                <p>- Bếp nấu ăn.</p>-->
<!--                <p>- Wifi cáp quang tốc độ cao.</p>-->
<!--                <p>- MÁY GIẶT CHUNG TIÊN LỢI VÀ SÂN PHƠI ĐỒ RỘNG RÃI, SẠCH SẼ.</p>-->
<!--                <p>*** TẤT CẢ ĐỀU MỚI 100% CHƯA QUA 1 LẦN SỬ DỤNG ***</p>-->
<!--                <p>*** Dịch vụ chuyên nghiệp:</p>-->
<!--                <p>- Hệ thống cửa ra vào bằng vân tay đảm bảo an toàn, an ninh tuyệt đối.</p>-->
<!--                <p>- Giờ giấc ra vào tự do 24/7 .</p>-->
<!--                <p>- Có đội hỗ trợ khắc phục sự cố điện, nước ngay khi có yêu cầu.</p>-->
<!--                <p>- Chân thành - Chuyên nghiệp - Rõ ràng. Bạn sẽ luôn được hỗ trợ tối đa trong suốt quá trình ở.</p>-->
<!--                <p>*** ĐẶC BIỆT: SIÊU KHUYẾN MÃI GIẢM GIÁ MỪNG KHAI TRƯƠNG - CHỈ 1 LẦN .</p>-->
<!--                <p>- Quá nhiều tiện ích và dịch vụ tốt cho một giá phòng hết sức bình dân đúng không nào, bạn còn chần-->
<!--                  chờ-->
<!--                  gì nữa mà không liên hệ xem phòng ngay để chọn được nơi an cư ưng ý của bạn.</p>-->
<!--                <p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
<!--                <p>Điện thoại liên hệ: <strong style="color: red;">0909539172</strong></p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div #banDo class="row">
        <div class="col-12">
          <h6 class="font-weight-bold">Xem trên bản đồ</h6>
          <p>{{post?.address ? post.address : ''}}</p>
          <agm-map [latitude]="post?.latitude ? post.latitude : 0"
                   [longitude]="post?.longitude ? post.longitude : 0"
                   [zoom]="13">
            <agm-marker [latitude]="post?.latitude ? post.latitude : 0"
                        [longitude]="post?.longitude ? post.longitude : 0"
                        [iconUrl]="markerAddress">
              <agm-info-window
                [latitude]="post?.latitude ? post.latitude : 0"
                [longitude]="post?.longitude ? post.longitude : 0">
                {{post?.address ? post.address : ''}}
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>

      <div class="row pt-2 pb-2 post-end-content">
        <div class="col-3">
          <h6 class="text-grey">Ngày đăng:</h6>
          <h6 class="text-grey">10/11/2020</h6>
        </div>
        <div class="col-3">
          <h6 class="text-grey">Ngày hết hạn:</h6>
          <h6 class="text-grey">17/11/2020</h6>
        </div>
        <div class="col-3">
          <h6 class="text-grey">Loại tin: </h6>
          <h6 class="text-grey">Tin thường</h6>
        </div>
        <div class="col-3">
          <h6 class="text-grey">Mã tin: </h6>
          <h6 class="text-grey">1932236</h6>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="profile-user">
        <div class="profile-info">
          <div class="profile-image">
            <img width="50" src="./assets/images/avatar.png" style="border-radius: 30px"/>
          </div>
          <div class="profile-more">
            <div>
              <div class="profile-name">
                <b>Trọng Dũng</b>
              </div>
              <div>
                <span class="font-weight-bold text-color-feb800">
                  <fa-icon class="mr-2 text-info" [icon]="faPhone"></fa-icon>
                  0352464242</span>
                <button class="ml-4 btn-more bg-white">
                  <span>Xem thêm</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
